//-----------------------------------------------------------------------------
// Reset
//-----------------------------------------------------------------------------
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, $color-background, #e4e4e4);
    background-attachment: fixed;
}
