//-----------------------------------------------------------------------------
// Main variables
//-----------------------------------------------------------------------------
// Color
$color-main: #654ff0;
$color-main-sub: #4733bd;
$color-alt: #f1c232;
$color-alt-sub: #f9c21a;
$color-background: #fcfcfc;
$color-text: #1f1f1f;
$color-text-sub: #424242;
$color-text-opposite: white;

// Media queries
$query-mobile-threshold: 780px;
