//-----------------------------------------------------------------------------
// "Let's get started"
//-----------------------------------------------------------------------------
.ban#started {
    width: 9999px;
    display: table-cell;
    vertical-align: middle;
    background-color: $color-alt;
    background: linear-gradient(to top right, $color-alt, $color-alt-sub);
    color: $color-text-opposite; 

    /* Desktop : 3 elements per row */
    .col3 {
        width: 33%;
        float: left;
        border-right: 4px solid $color-text;
        padding: 20px;
        margin-bottom: 2em;
        overflow: hidden;

        .switch {
            display: block;
            background-color: $color-main;
            color: $color-text-opposite;
            padding: 10px;
            border-radius: 10px;
            text-decoration: none;
            font-size: 22px;
            font-weight: 700;
            border-bottom: 4px solid $color-text;
            transition: all 0.35s ease-in-out;

            /* Mobile : switches centered */
            @media (max-width: $query-mobile-threshold) {
                width: 40%;
                margin: auto;
                text-align: center;
                font-size: 18px;
            }
        }
        .switch:hover {
            background-color: black;
        }
    }
    .col3:nth-child(1) {
        padding-left: 0px;
        padding-right: 30px;
    }
    .col3:nth-child(2) {
        padding-right: 30px;
    }
    .col3:nth-child(3) {
        border-right: 0px;
        padding-right: 0px;
    }
    /* Mobile : 1 element per row */
    @media (max-width: $query-mobile-threshold) {
        .col3 {
            width: 100%;
            float: none;
            border: none;
            border-bottom: 4px solid $color-text;
        }
        .col3:nth-child(1), .col3:nth-child(2), .col3:nth-child(3) {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}
