<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="description" content=""/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Libs & fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Style -->
    <link rel="stylesheet" href="css/main.css"/>

    <!-- META FB -->
    <meta property="og:image" content="img/facebook.jpg" />
	<meta property="og:title" content="" />
	<meta property="og:description" content="" /> 

    <!-- Favicon -->
    <link href="img/favicon.png" rel="icon" type="image/png"/>

</head>

<body>

    <header class="ban">

        <figure>
            <img src="img/walt-hat-450x.png" alt="" class="hat"/>
            <img src="img/walt-glasses-450x.png" alt="" class="glasses"/>
        </figure>

        <h1>
            <strong>Walt</strong>
            <span>JavaScript-like syntax for WebAssembly</span>
        </h1>

    </header>

    <section class="ban" id="what">

        <h2>What's walt ?</h2>

        <div class="ban-content">

            <p>
            <strong>Walt is an alternative syntax for WebAssembly text format : It's JavaScript with rules.</strong>
            </p>

            <p>
            Walt files compile directly to WebAssembly binary format.
            </p>

            <div class="animation">
            
                <figure class="code">
                    <img src="img/code-240x.png" alt=".walt code"/>
                    <figcaption>.walt</figcaption>
                </figure>

                <span>&gt;</span>

                <figure class="chemistry">
                    <img src="img/lightning-240x.png" alt="" class="lightning"/>
                    <img src="img/flask-240x.png" alt="" class="flask"/>
                </figure>

                <span>&gt;</span>

                <figure class="code">
                    <img src="img/code-240x.png" alt="WebAssembly"/>
                    <figcaption>WebAssembly</figcaption>
                </figure>

            </div>

            <hr/>

            <h2>Walt does all the chemistry</h2>

            <ul>
                <li>No C/C++ or Rust required, just typed JavaScript.</li>
                <li>NO LLVM/binary toolkits required, zero dependencies 100% written in JS.</li>
                <li>Fast compilation, integrates into webpack!</li>
            </ul>

        </div>

    </section>

    <section class="ban" id="started">

        <h2>Let's get started !</h2>

        <div class="ban-content">

            <div class="col3">
                <p>Try Walt in the browser, see how it compiles to the WebAssembly text format.</p>
                <a class="switch" href="#" title="">Live demo</a>
            </div>

            <div class="col3">
                <p>Dive in the docs ! Walt is one npm command away from your machine.</p>
                <a class="switch" href="#" title="">Docs</a>
            </div>

            <div class="col3">
                <p>Come see us on GitHub ! Walt is an experimental project and contributions are more than welcome.</p>
                <a class="switch" href="#" title="">GitHub</a>
            </div>

        </div>

    </section>

</body>

</html>