//-----------------------------------------------------------------------------
// Main variables
//-----------------------------------------------------------------------------
$main-color: #654ff0;
$main-color-sub: #4733bd;
$alt-color: #f1c232;
$alt-color-sub: #f9c21a;
$background-color: #f3f3f3;
$text-color: #1f1f1f;

//-----------------------------------------------------------------------------
// Generic animations
//-----------------------------------------------------------------------------
@keyframes bounce-3px {
    0% { transform: translate(0px, 0px) };
    50% { transform: translate(0px, 3px) };
    100% { transform: translate(0px, 0px) };
}

@keyframes bounce-5px {
    0% { transform: translate(0px, 0px) };
    50% { transform: translate(0px, 5px) };
    100% { transform: translate(0px, 0px) };
}

//-----------------------------------------------------------------------------
// Reset
//-----------------------------------------------------------------------------
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: 'Roboto', sans-serif;
}

//-----------------------------------------------------------------------------
// Basic layout
//-----------------------------------------------------------------------------
.ban {
    width: 100%;
    margin: auto;

    h2 {
        text-align: center;
        font-size: 62px;
        letter-spacing: -2px;
        padding: 20px;
        color: $text-color;
    }

    p, ul {
        font-size: 26px;
        margin-bottom: 1em;
        color: $text-color;
        letter-spacing: -1px;

        strong {
            font-weight: 700;
        }
    }

    .ban-content {
        width: 680px;
        margin: auto;
    }
}

//-----------------------------------------------------------------------------
// Intro
//-----------------------------------------------------------------------------
header.ban {
    width: 9999px;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    background-color: $main-color;
    background: linear-gradient(to bottom left, $main-color, $main-color-sub);
    animation: intro-init 1s ease forwards;
    animation-delay: 1s;

    figure {
        img {
            width: 400px;
            max-width: 70%;
            display: block;
            margin: auto;
            position: relative;
        }
        img.glasses {
            animation: bounce-5px 1s ease infinite;
        }
        img.hat {
            animation: bounce-3px 1s ease infinite;
        }
    }

    h1 {
        color: white;
        strong {
            font-weight: 700;
            font-size: 108px;
            letter-spacing: -4px;
            display: block;
            text-align: center;
            text-shadow: 4px 4px 0px $main-color-sub;
        }
        span {
            font-size: 34px;
            letter-spacing: -2px;
            display: block;
            text-align: center;
            font-weight: 400;
            text-shadow: 2px 1px 0px $main-color-sub;
        }
    }
}

@keyframes intro-init {
    0% { 
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
        height: 100vh;
    };
    100% {
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
        height: 88vh;
    };
}

//-----------------------------------------------------------------------------
// "What's walt ?"
//-----------------------------------------------------------------------------

//-----------------------------------------------------------------------------
// "Let's get started"
//-----------------------------------------------------------------------------
.ban#started {
    width: 9999px;
    display: table-cell;
    vertical-align: middle;
    background-color: $alt-color;
    background: linear-gradient(to top right, $alt-color, $alt-color-sub);  
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
}