//-----------------------------------------------------------------------------
// Main variables
//-----------------------------------------------------------------------------
// Color
$color-main: #654ff0;
$color-main-sub: #4733bd;
$color-alt: #f1c232;
$color-alt-sub: #f9c21a;
$color-background: #f3f3f3;
$color-text: #1f1f1f;
$color-text-sub: #424242;
$color-text-opposite: white;

// Media queries
$query-mobile-threshold: 780px;

//-----------------------------------------------------------------------------
// Generic animations
//-----------------------------------------------------------------------------
@keyframes bounce-3px {
    0% { transform: translate(0px, 0px) };
    50% { transform: translate(0px, 3px) };
    100% { transform: translate(0px, 0px) };
}

@keyframes bounce-5px {
    0% { transform: translate(0px, 0px) };
    50% { transform: translate(0px, 5px) };
    100% { transform: translate(0px, 0px) };
}

//-----------------------------------------------------------------------------
// Reset
//-----------------------------------------------------------------------------
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, $color-background, #e4e4e4);
    background-attachment: fixed;
}

//-----------------------------------------------------------------------------
// Header  
//-----------------------------------------------------------------------------
#docs header {
    background-color: $color-main;
    background: linear-gradient(to bottom left, $color-main, $color-main-sub);
    color: white;
    padding: 15px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;

    h1 {
        font-size: 38px;
        a {
            color: white;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: -2px;
            text-shadow: 2px 1px 0px $color-main-sub;
        }
        img {
            width: 85px;
        }
    }
}

//-----------------------------------------------------------------------------
// Nav  
//-----------------------------------------------------------------------------
#docs nav {
    position: fixed;
    top: 0px;
    right: -220px;
    transition: right 0.3s ease-in-out;

    .switch {
        display: inline-block;
        position: absolute;
        top: 13px;
        right: 230px;
        font-size: 32px;
        line-height: 10px;
        font-weight: 700;
        background-color: $color-alt;
        padding: 10px;
        padding-bottom: 27px;
        cursor: pointer;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    
    ul {
        width: 230px;
        padding: 15px;
        padding-top: 15px;
        padding-left: 30px;
        padding-right: 50px;
        background-color: $color-alt;
        height: 100vh;
        list-style-type: none;
        li {
            padding-bottom: 5px;
            padding-top: 5px;
            border-bottom: 1px solid $color-text;
            a {
                text-decoration: none;
                color: $color-text;
                font-size: 22px;
                transition: font-size 0.15s ease-in-out;
            }
            a.active, a:hover {
                font-weight: 700;
                font-size: 26px;
            }
        }
    }
}

#docs nav:hover, #docs nav.open {
    right: 0px;
}

//-----------------------------------------------------------------------------
// Content  
//-----------------------------------------------------------------------------
#docs section.content {
    width: 780px;
    margin: auto;
    margin-top: 2em;
    padding: 20px;

    /* Mobile : flexible width for content */
    @media (max-width: $query-mobile-threshold) {
        width: 90%;
    }

    > h2 {
        color: $color-text-opposite;
        background-color: $color-main-sub;
        font-weight: 700px;
        font-size: 46px;
        letter-spacing: -3px;
        padding: 10px;

        @media (max-width: $query-mobile-threshold) {
            font-size: 34px;
            letter-spacing: -1px;
        }
    }

    h3 {
        background-color: $color-alt;
        padding: 15px;
        padding-left: 10px;
        display: inline-block;
        font-weight: 700;
        font-size: 26px;

        @media (max-width: $query-mobile-threshold) {
            font-size: 22px;
        }
    }

    p {
        font-size: 22px;
        padding: 10px;
        color: $color-text;
        margin-bottom: 1em;

        @media (max-width: $query-mobile-threshold) {
            font-size: 18px;
        }
    }

    hr {
        width: 100%;
        margin: auto;
        border: none;
        border-bottom: 2px solid $color-text;
        margin-bottom: 2em;
        padding-top: 1em;
    }
}