//-----------------------------------------------------------------------------
// Main variables
//-----------------------------------------------------------------------------
// Color
$color-main: #654ff0;
$color-main-sub: #4733bd;
$color-alt: #f1c232;
$color-alt-sub: #f9c21a;
$color-background: #fcfcfc;
$color-text: #1f1f1f;
$color-text-sub: #424242;
$color-text-opposite: white;

// Media queries
$query-mobile-threshold: 780px;

//-----------------------------------------------------------------------------
// Generic animations
//-----------------------------------------------------------------------------
@keyframes bounce-3px {
    0% { transform: translate(0px, 0px) };
    50% { transform: translate(0px, 3px) };
    100% { transform: translate(0px, 0px) };
}

@keyframes bounce-5px {
    0% { transform: translate(0px, 0px) };
    50% { transform: translate(0px, 5px) };
    100% { transform: translate(0px, 0px) };
}

//-----------------------------------------------------------------------------
// Reset
//-----------------------------------------------------------------------------
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
    box-sizing: border-box;
}

body {
    background-color: $color-background;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, $color-background, #e4e4e4);
    background-attachment: fixed;
}

//-----------------------------------------------------------------------------
// Header  
//-----------------------------------------------------------------------------
#docs header {
    background-color: $color-main;
    background: linear-gradient(to bottom left, $color-main, $color-main-sub);
    color: white;
    padding: 15px;
    overflow: hidden;
    vertical-align: middle;
    z-index: 2;

    /* Mobile : little menu bar */
    @media (max-width: $query-mobile-threshold) {
        width: 100%;
        padding: 7px;
    }

    h1 {
        font-size: 38px;
        float: left;

        /* Mobile */
        @media (max-width: $query-mobile-threshold) {
            font-size: 24px;
            float: none;
        }
        a {
            color: white;
            text-decoration: none;
            font-weight: 700;
            letter-spacing: -2px;
            text-shadow: 2px 1px 0px $color-main-sub;
        }
        img {
            width: 85px;
            /* Mobile */
            @media (max-width: $query-mobile-threshold) {
                width: 45px;
            }
        }
    }

    nav {
        float: right;
        padding: 20px;

        @media (max-width: $query-mobile-threshold) {
            float: none;
            text-align: center;
        }

        a, span {
            color: $color-text-opposite;
            text-decoration: none;
            text-transform: lowercase;
            font-size: 22px;
            letter-spacing: -1px;
            padding-right: 10px;
            transition: all ease-in-out 0.2s;
            text-shadow: 1px 1px 0px $color-main-sub;
        }
        a:hover {
            color: $color-alt;
        }
    }
}

//-----------------------------------------------------------------------------
// Content  
//-----------------------------------------------------------------------------
#docs section.content {
    width: 780px;
    margin: auto;
    margin-top: 2em;
    padding: 20px;

    /* Mobile : flexible width for content */
    @media (max-width: $query-mobile-threshold) {
        width: 95%;
        padding-top: 10px;
        margin-top: 0px;
    }

    > h2 {
        padding: 10px;
        font-weight: 700px;
        font-size: 46px;
        color: $color-text;

        /* Mobile */
        @media (max-width: $query-mobile-threshold) {
            font-size: 34px;
            letter-spacing: -1px;
            display: block;
        }
    }

    h3 {
        padding: 10px;
        font-weight: 700;
        font-size: 28px;
        letter-spacing: -1px;
        color: $color-text-sub;

        @media (max-width: $query-mobile-threshold) {
            font-size: 24px;
        }
    }

    p {
        font-size: 22px;
        padding: 10px;
        color: $color-text;
        margin-bottom: 1em;

        @media (max-width: $query-mobile-threshold) {
            font-size: 18px;
        }
    }

    hr {
        width: 70%;
        margin: auto;
        border: none;
        border-bottom: 2px dashed $color-text-sub;
        margin-bottom: 2em;
        padding-top: 1em;
    }

    pre {
        font-size: 22px !important;
        margin-top: 0px !important;
        padding-top: 0px !important;
        background: none !important;
        @media (max-width: $query-mobile-threshold) {
            font-size: 12px !important;
        }
        code {
            margin-top: 0px !important;
            padding-top: 0px !important; /* That seems pretty important ... */
            background: none !important;      
        }
        * {
            background: none !important; 
        }
    }
}